<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.blog.mapper.AnnouncementMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
    <update id="setOtherAvailable" flushCache="true">
        update announcement
        set announcement.available = #{available}
        where announcement.available != #{available}
    </update>
    <select id="getNewest" resultType="com.yang.blog.entity.Announcement">
        select *
        from announcement
        where available = ${@com.yang.blog.entity.Announcement@AVAILABLE}
        order by created_time desc
        limit 0,1
    </select>

</mapper>
