<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.blog.mapper.TagMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
    <select id="listArticleRelateTagAsc" resultType="com.yang.blog.entity.Tag" flushCache="true">
        select
        *
        from
        tag t
        where
        #静态常量
        t.available = ${@com.yang.blog.entity.Tag@AVAILABLE}
        and
        exists ( select * from article_tag `at` where `at`.tag_id = t.id and `at`.article_id = #{articleId} )
        <if test="orderColumns != null and orderColumns.length > 0">
            order by
            <foreach collection="orderColumns" item="ascColumn" separator=",">
                ${ascColumn}
            </foreach>
            asc
        </if>
    </select>
    <select id="getMost" resultType="com.yang.blog.entity.Tag">
        select newTag.*
        from (select t.*,
                     count(at.tag_id) num
              from tag t
                       left join article_tag at on t.id = at.tag_id
              group by t.id
              order by num desc) as newTag
        where newTag.num > 0
          and newTag.available = ${@com.yang.blog.entity.Tag@AVAILABLE}
        limit 0,#{size}
    </select>

</mapper>
